<div class="alert {% if status %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade show mb-0"
     role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    {% if status %}
        <i class="fa fa-info mx-2"></i>
        <strong>Your plan has been {{ manip_type }}</strong>
    {% else %}
        {% if form is defined %}
            {% for field, errors in form.errors.items() %}
                {% for error in form.errors[field] %}
                    <i class="fa fa-times mx-2"></i>
                    <strong>{{ error }}</strong>
                    <br>
                {% endfor %}
            {% endfor %}
        {% else %} {# List of custom errors non-form related #}
            {% if err_list is defined %}
                {% for error in err_list %}
                    <i class="fa fa-times mx-2"></i>
                    <strong>{{ error }}</strong>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
</div>