body{
    background: linear-gradient(-45deg, #2e1667, #36106e, #5e17eb, #007bff);
	background-size: 400% 400%;
	-webkit-animation: gradientBG 20s ease infinite;
	        animation: gradientBG 20s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
        background-position: 0 50%;
    }
	50% {
		background-position: 100% 50%;
	}
	100% {
        background-position: 0 50%;
    }
}
@keyframes gradientBG {
	0% {
        background-position: 0 50%;
    }
	50% {
		background-position: 100% 50%;
	}
	100% {
        background-position: 0 50%;
    }
}

@media (max-width: 476px) {

    #mainContent {
        width: 100%;
    }

    #acctContainer {
        width: auto !important;
        max-width: calc(100vw);
    }

    #acctContainer > #acctCard {
        width: auto !important;
    }
}

#mainContent {
    position: relative !important;
    display: flex;
    min-height: calc(100vh);
}
#acctContainer {
    width: 476px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.md-form .form-control {
    margin-bottom: 0;
}

.md-form.md-outline {
    margin-top: 0.5rem !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background: linear-gradient(40deg, #007bff, #5e17eb) !important;
}

#footSep {
    transform: rotate(90deg);
    width: 50px;
}

@media (max-width: 768px) {
    #footSep {
        display: none !important;
    }

    .txt2 {
        display: block;
    }

    #forgotLink {
        margin-bottom: 5px;
    }
}

@media (max-width: 992px) {
    .footer-explanation {
        border: none !important;
        padding-right: 15px !important;
    }

    .reg-for-free {
        padding-bottom: 20px;
    }

    .title-holder {
        padding-right: 15px !important;
    }

    .left-border {
        padding-left: 15px !important;
    }
}

@media (min-width: 993px) {
    footer .rel-links a:hover {
        border: 1.5px solid;
        border-radius: 5px;
        -webkit-transition: all .01s ease;
    }
}

footer .rel-links a {
    padding: 10px;
}

.right-border {
    padding-right: 55px;
}

.left-border {
    padding-left: 55px;
}

.main-footer-content {
    max-width: calc(100vw - 150px) !important;
}

#amazonLink:hover {
    color: #028df5;
}

.fa-bootstrap:hover {
    color: #602C50 !important;
    background-color: white;
}

.fa-mdb:hover, .fa-python:hover {
    color: #028df5 !important;
}

.fa-database:hover {
    color: #cccccc !important;
}

.fa-microsoft:hover {
    color: #00A1F1 !important;
}

.fa-js:hover {
    color: #f7df1e !important;
}

.fa-running:hover {
    color: limegreen !important;
}

.valid {
    border-color: #007bff !important;
    -webkit-box-shadow: inset 0 0 0 1px #007bff !important;
    box-shadow: inset 0 0 0 1px #007bff !important;
}

.md-form.md-outline label.active {
    border-radius: 10px;
}