{{ form.csrf_token }}
<div class="form-group">
    {{ form.plan_name.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
    **{"data-toggle":"tooltip",
    "data-placement": "top",
    "title": "A unique name for this plan. Choose a situationally well representing plan name."}) }}
    {{ form.plan_name }}
</div>
<div class="form-group">

    {{ form.funding_amount.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
    **{"data-toggle":"tooltip",
    "data-placement": "top",
    "title": "In a department to department transfer, the entire amount goes to the department's account.
    Otherwise, the funding amount is on a per employee basis. A department to department transfer occurs when
    the fund individuals toggle is not clicked, and a department to employee transfer occurs when clicked."}) }}

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
        </div>
        {{ form.funding_amount }}
    </div>
</div>
<div class="form-group">
    {{ form.plan_justification.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
    **{"data-toggle":"tooltip",
    "data-placement": "top",
    "title": "A one word plan justification representing a broad category"}) }}
    {{ form.plan_justification }}
</div>
<div class="form-group">
    {{ form.memo.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
    **{"data-toggle":"tooltip",
    "data-placement": "top",
    "title": "Explain the plan justification on how it will be utilized here."}) }}
    {{ form.memo }}
    <small class="float-right font-weight-bold" id="count_message"><span id="count_message_amt"></span></small>
</div>
<div class="form-group">
    {{ form.start_date.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
    **{"data-toggle":"tooltip",
    "data-placement": "top",
    "title": "The start date of the plan. Click ok on the calendar to start immediately."}) }}
    <div id="blog-overview-date-range" class="input-group" style="">
        {{ form.start_date }}
        <span class="input-group-append">
            <span class="input-group-text">
                <i class="material-icons"></i>
            </span>
        </span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {{ form.source_fund.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
        **{"data-toggle":"tooltip",
        "data-placement": "top",
        "title": "The source fund (your department)."}) }}
        {{ form.source_fund }}
    </div>
    <div class="form-group col-md-6">
        {{ form.dest_fund.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
        **{"data-toggle":"tooltip",
        "data-placement": "top",
        "title": "A funding destination department"}) }}
        {{ form.dest_fund }}
    </div>
</div>
<div class="custom-control custom-toggle custom-toggle-sm mb-3">
    {{ form.has_fund_individuals }}
    {{ form.has_fund_individuals.label(class_="custom-control-label",
    **{"data-toggle":"tooltip",
    "data-placement": "right",
    "title": "Toggle this if you want to fund individual employees in a department rather than deposit
    funds to a department's account"}) }}
</div>
<div id="employeesOnly" class="d-none ml-3">

    {% set edt_radio = form.disbursement_type | list %}

    <div class="custom-control custom-radio">
        {{ edt_radio[0](class_="custom-control-input") }}
        {{ edt_radio[0].label(class_="text-muted font-italic ml-1 mb-0
        pre-input-label custom-control-label disbursement-type") }}
    </div>

    <div class="custom-control custom-radio mb-2">
        {{ edt_radio[1](class_="custom-control-input") }}
        {{ edt_radio[1].label(class_="text-muted font-italic ml-1 mb-0
        pre-input-label custom-control-label disbursement-type") }}
    </div>

    <div id="employeeIDBoundary" class="card-specific ml-lg-4">
        <div class="form-row mb-3 position-relative input-and-loader">
            <label for="searchEmployee" class="text-muted font-italic ml-1 mb-0 pre-input-label" data-toggle="tooltip"
                   data-placement="top" title="ℹ Search for employees in the department you selected.
                     Click on their name to add them to the plan.">Search and Employee (First and Last Name)</label>
            <input id="searchEmployee" type="search" class="form-control" placeholder="Enter Full Name">
            <i class="fas fa-spinner fa-spin employees-loading-icon"></i>
        </div>
        <div class="form-row mb-3" id="employeeIDBoundaryRow">
        </div>
    </div>

    <div class="custom-control custom-toggle custom-toggle-sm mb-3">
        {{ form.has_end_date }}
        {{ form.has_end_date.label(class_="custom-control-label") }}
    </div>
    <div id="endDateGroup" class="form-group d-none">
        {{ form.end_date.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
        **{"data-toggle":"tooltip",
        "data-placement": "right",
        "title": "The end date for the plan. The end date must be at least one hour ahead of the start date.
        funds to a department's account"}) }}
        <div id="blog-overview-date-range" class="input-group" style="">
            {{ form.end_date(required=False) }}
            <span class="input-group-append">
                <span class="input-group-text">
                    <i class="material-icons"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="custom-control custom-toggle custom-toggle-sm mb-3">
        {{ form.has_velocity_controls }}
        {{ form.has_velocity_controls.label(class_="custom-control-label",
        **{"data-toggle":"tooltip",
        "data-placement": "right",
        "title": "Toggle this if you want to add spending restrictions to the plan."}) }}
    </div>
    <div id="fundControls" class="d-none">
        <small class="text-muted font-italic ml-1">Velocity Controls</small>
        <div class="card-specific">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.vel_control_name.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
                        **{"data-toggle":"tooltip",
                        "data-placement": "top",
                        "title": "The restriction/control name."}) }}
                    {{ form.vel_control_name(required=False) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.vel_control_window.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
                        **{"data-toggle":"tooltip",
                        "data-placement": "top",
                        "title": "Select a window to apply windows to how employees can spend funds within
                        the duration of plan."}) }}
                    {{ form.vel_control_window(required=False) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.vel_amt_limit.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
                        **{"data-toggle":"tooltip",
                        "data-placement": "top",
                        "title": "Add a funding amount limit. The minimum limit must be at least $1."}) }}
                    {{ form.vel_amt_limit(required=False) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.vel_usage_limit.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label",
                        **{"data-toggle":"tooltip",
                        "data-placement": "top",
                        "title": "Enter how many times employees can use their virtual card."}) }}
                    {{ form.vel_usage_limit(required=False) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form.time_zone }}
{{ form.priority }}