.primary {
    font-family: 'Oswald', sans-serif;
}

.primary-sm {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.primary-md {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}

.primary-footer {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.primary-lg {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
}

.complement {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.complement-light {
    font-family: 'Open Sans', sans-serif;
}

.complement-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.complement-roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btn-rounded-complement {
    border-radius: 15px !important;
}

.footer-sep {
    margin-bottom: 500px !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    scroll-behavior: smooth;
}

