{% extends "dash_base.html" %}
{% block base_title %}Overview{% endblock %}

{% block base_head %}
    {{ super() }}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% assets "dash_overview_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
{% endblock %}

{% block dashboard_main %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">Company Overview</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Small Stats Blocks -->
        <div class="row">
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small balance-card">
                    <div class="card-body p-0 d-flex loader-content">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase text-white">Business Balance</span>
                                <h6 class="stats-small__value count my-3 d-none text-white" id="businessBalance"></h6>
                            </div>
                            <div class="stats-small__data text-center" id="businessBalanceLoading">
                                <span class="mt-2 text-white" id="businessBalanceLoadingText">Loading... <i
                                        class="fas fa-spinner fa-pulse mb-2"></i></span>
                            </div>
                            {#<div class="stats-small__data">#}
                            {#   <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>#}
                            {#</div>#}
                        </div>


                        <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small balance-card">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase text-white">Department Balance</span>
                                <h6 class="stats-small__value count my-3 d-none text-white" id="departmentBalance"></h6>
                            </div>
                            <div class="stats-small__data text-center" id="departmentBalanceLoading">
                                <span class="mt-2 text-white" id="departmentBalanceLoadingText">Loading... <i
                                        class="fas fa-spinner fa-pulse mb-2"></i></span>
                            </div>
                        </div>
                        <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small number-card">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase">Department Employee Count</span>
                                <h6 class="stats-small__value count my-3 d-none" id="employeeCount"></h6>
                            </div>
                            <div class="stats-small__data text-center" id="employeeCountLoading">
                                <span class="mt-2" id="employeeCountLoadingText">Loading... <i
                                        class="fas fa-spinner fa-pulse mb-2"></i></span>
                            </div>
                        </div>
                        <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small number-card">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase">Current Outgoing Transactions</span>
                                <h6 class="stats-small__value count my-3 d-none" id="outgoingTransactions"></h6>
                            </div>
                            <div class="stats-small__data text-center" id="outgoingTransactionsLoading">
                                <span class="mt-2" id="outgoingTransactionsText">Loading... <i
                                        class="fas fa-spinner fa-pulse mb-2"></i></span>
                            </div>
                        </div>
                        <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small number-card">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase">Active Plans</span>
                                <h6 class="stats-small__value count my-3 d-none" id="activePlans"></h6>
                            </div>
                            <div class="stats-small__data text-center" id="activePlansLoading">
                                <span class="mt-2" id="activePlansText">Loading... <i
                                        class="fas fa-spinner fa-pulse mb-2"></i></span>
                            </div>
                        </div>
                        <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Small Stats Blocks -->
        <div class="row">
            <!-- Users Stats -->
            <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                <div class="card card-small">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Plan Fund Average <span class="font-italic text-muted font-small">6 month overview</span>
                        </h6>
                    </div>
                    <div class="card-body pt-0 loader-content">
                        <div class="loader" id="planAvgSixMonthsLoading">
                            <i class="fas fa-spinner fa-pulse fa-4x mb-2"></i>
                            <p id="planAvgSixMonthsLoadingText">Loading...</p>
                        </div>
                        <canvas height="150" style="max-width: 100% !important;"
                                id="planAvgSixMonths"></canvas>
                    </div>
                </div>
            </div>

            <!--DEPARMENT FUND ALLOC PIE CHART-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card card-small h-100">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Per Department Fund Allocation</h6>
                    </div>
                    <div class="card-body d-flex py-0 loader-content">
                        <div class="loader" id="deptAllocLoading">
                            <i class="fas fa-spinner fa-pulse fa-4x mb-2"></i>
                            <p id="deptAllocLoadingText">Loading...</p>
                        </div>
                        <canvas height="220" id="deptAllocFunds" class="m-auto">
                        </canvas>
                    </div>
                    <div class="card-footer border-top">
                        <p class="text-muted font-italic">Represents Semi-Yearly Funds</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <div class="card-header border-bottom">
                        <h6 class="m-0 d-inline-block">Monthly Spending</h6>
                        <div class="dropdown d-inline-block float-right">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="exportOptions"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export Data
                            </button>
                            <div class="dropdown-menu" id="exportOptionDropDown" aria-labelledby="exportOptions">
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2 loader-content w-100">
                        <div class="loader" id="monthlySpendingLoading">
                            <i class="fas fa-spinner fa-pulse fa-4x mb-2"></i>
                            <p id="monthlySpendingLoadingText">Loading...</p>
                        </div>
                        <table id="spendingTable"
                               class="table table-responsive-sm responsive hover font-weight-normal"
                               style="width:100% !important; height: 100% !important;">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>GPA Balance</th>
                                <th>Spending ($)</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <!--PER DEPT UTILIZATION PIE CHART-->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card card-small h-100">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Per Department Utilization</h6>
                    </div>
                    <div class="card-body d-flex py-0 loader-content">
                        <div class="loader" id="deptUtilizationLoading">
                            <i class="fas fa-spinner fa-pulse fa-4x mb-2"></i>
                            <p>Loading...</p>
                        </div>
                        <canvas height="220" id="deptUtilization" class="m-auto">
                        </canvas>
                    </div>
                    <div class="card-footer border-top">
                        <p class="text-muted font-italic">Represents Semi-Yearly Funds</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <div class="card card-small">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Employee Spending</h6>
                    </div>
                    <div class="card-body pt-0">
                        <canvas height="130" style="max-width: 100% !important;"
                                class="blog-overview-users"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% assets "dash_overview_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="/static/libs/datatables/dataTables.min.js"></script>
    <script src="/static/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/static/libs/datatables/pdfmake.min.js"></script>
    <script src="/static/libs/datatables/buttons.print.min.js"></script>
    <script src="/static/libs/datatables/jszip.min.js"></script>
    <script src="/static/libs/datatables/vfs_fonts.js"></script>
    <script src="/static/libs/datatables/vfs_fonts.js"></script>
    <script src="/static/libs/datatables/buttons.html5.min.js"></script>
{% endblock dashboard_main %}