{% extends "plans/plan_base.html" %}
{% block base_title %}Create Plan{% endblock %}

{% block base_head %}
    {{ super() }}
{% endblock %}

{% block plan_main %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Company Planner</span>
                <h3 class="page-title">Add New Plan</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="card card-small mb-3">
                    <div class="card-body">
                        {% include 'plans/create_plan/plan_form_partial.html' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                {% include "plans/plan_sidebar_partial.html" %}
            </div>
        </div>
    </div>
    {% assets "dash_create_plan_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock plan_main %}