#darkModeSelector {
    cursor: pointer !important;
}


.tooltip .arrow::before {
    border-top-color: rgba(90, 90, 90, 0.95) !important;
}

.tooltip-inner {
    color: #ffffff !important;
    background-color: rgba(90, 90, 90, 0.95) !important;
}

