{#<!-- These css and scripts are installed locally for performance -->#}


<link rel="preload" as="style" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="preload" as="style" href="/static/libs/typography/gfonts.css">
<link rel="preload" as="style" href="/static/libs/typography/gfontstwo.css">

<!-- For some reason, if you download this and use it, it doesn't like to render properly -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="/static/libs/typography/gfonts.css">
<link rel="stylesheet" href="/static/libs/typography/gfontstwo.css">


<link rel="preload" as="style" href="/static/libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">

<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/libs/popper/popper.min.js"></script>
<script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
