{% extends "dash_base.html" %}
{% block base_title %}Manage Plans{% endblock %}

{% block base_head %}
{{ super() }}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="/static/libs/daterangepicker/daterangepicker.css" rel="stylesheet">
<script src="/static/libs/daterangepicker/moment.min.js"></script>
<script src="/static/libs/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" href="/static/libs/jqueryui/jquery-ui.css">
<script src="/static/libs/jqueryui/jquery-ui.min.js"></script>

{% assets "dash_create_plan_css" %}
<link rel="stylesheet" id="main-stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% endblock %}

{% block dashboard_main %}

<div class="main-content-container container-fluid px-4">

    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Company Planner</span>
            <h3 class="page-title">Search For a Plan</h3>
            <form id="searchForm" action="">
                <div class="form-group">
                    <div class="input-group mt-3 mb-3">
                        <input id="planSearch" class="form-control " type="text" placeholder="Search" aria-label="Search"
                            name="search_query" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <button id="mainSearchSysBtn "
                                class="btn btn-md m-0 px-4 py-2 z-depth-0 waves-effect btn btn-outline-secondary"
                                type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <!-- Add New Post Form -->
            <div class="card card-small mb-3">
                <div id="managePlan" class="card-body">
                    {% include 'create_plan/plan_form_partial.html' %}
                </div>
            </div>
            <!-- / Add New Post Form -->
        </div>
        <div class="col-lg-3 col-md-12">
            <!-- Post Overview -->
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Overview</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <span class="d-flex mb-2">
                                <i class="material-icons mr-1">account_circle</i>
                                <strong class="mr-1">Intiator:</strong> {{ session['manager_fname'] }}
                                {{ session['manager_lname'] }}
                                <a class="ml-auto" href="#">Edit</a>
                            </span>
                            <span class="d-flex mb-2">
                                <i class="material-icons mr-1">event</i>
                                <strong class="mr-1">Date:</strong>{{ current_date }}
                            </span>
                            <span class="d-flex mb-2">
                                <i class="material-icons mr-1">calendar_today</i>
                                <strong class="mr-1">Priority:</strong> <strong class="text-success">Low</strong>
                                <a class="ml-auto" href="#">Edit</a>
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <button class="btn btn-sm btn-outline-accent btn-block">
                                <i class="material-icons">save</i> Save Draft
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- / Post Overview -->
            <!-- Post Overview -->
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Categories</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-3 pb-2">
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category1" checked>
                                <label class="custom-control-label" for="category1">Uncategorized</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category2" checked>
                                <label class="custom-control-label" for="category2">Design</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category3">
                                <label class="custom-control-label" for="category3">Development</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category4">
                                <label class="custom-control-label" for="category4">Writing</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category5">
                                <label class="custom-control-label" for="category5">Books</label>
                            </div>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="New category"
                                    aria-label="Add new category" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-white px-2" type="button">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% assets "dash_manage_plan_js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock dashboard_main %}