<form id="newPlanForm" action="{{ url_for('user_bp.create_plan') }}">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.planName.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
        {{ form.planName }}
    </div>
    <div class="form-group">
        {{ form.fundingAmount.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            {{ form.fundingAmount }}
        </div>
    </div>
    <div class="form-group">
        {{ form.planJustification.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
        {{ form.planJustification }}
    </div>
    <div class="form-group">
        {{ form.description.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
        {{ form.description }}
        <small class="float-right font-weight-bold" id="count_message"><span id="count_message_amt"></span></small>
    </div>
    <div class="form-group">
        {{ form.dateRange.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
        <div id="blog-overview-date-range" class="input-group" style="">
            {{ form.dateRange }}
            <span class="input-group-append">
                <span class="input-group-text">
                    <i class="material-icons"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.sourceFund.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
            {{ form.sourceFund }}
        </div>
        <div class="form-group col-md-6">
            {{ form.destFund.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
            {{ form.destFund }}
        </div>
    </div>
    <div class="custom-control custom-toggle custom-toggle-sm mb-3">
        {{ form.fundIndivEmployeesToggle }}
        {{ form.fundIndivEmployeesToggle.label(class_="custom-control-label") }}
    </div>
    <div id="employeeIDBoundary" class="card-specific d-none">
        <div class="form-row mb-3">
            <label for="searchEmployee" class="text-muted font-italic ml-1 mb-0 pre-input-label">Search and Employee
                (First and Last Name)</label>
            <input id="searchEmployee" type="search" class="form-control">
        </div>
        <div class="form-row mb-3" id="employeeIDBoundaryRow">
            <div class="form-group col-md-3">
                <label class="text-muted additional-employee-input-label ml-1">Employee <span
                        class="employeeCount">1</span></label>
                <div class="input-container">
                    {{ form.employeesOptional[0](id=False, required=False) }}
                    <span class="removeNewEmployeeInput material-icons">remove_circle</span>
                </div>
            </div>
        </div>
        <span id="addNewEmployeeInput" class="material-icons">add_circle</span>
    </div>
    <div class="custom-control custom-toggle custom-toggle-sm mb-3">
        {{ form.controlToggle }}
        {{ form.controlToggle.label(class_="custom-control-label") }}
    </div>
    <div id="fundControls" class="d-none">
        <small class="text-muted font-italic ml-1">Velocity Controls</small>
        <div class="card-specific">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.controlName.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
                    {{ form.controlName(required=False) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.controlWindow.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
                    {{ form.controlWindow(required=False) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.amountLimit.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
                    {{ form.amountLimit(required=False) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.usageLimit.label(class_="text-muted font-italic ml-1 mb-0 pre-input-label") }}
                    {{ form.usageLimit(required=False) }}
                </div>
            </div>
        </div>
    </div>
    {{ form.createPlanButton }}
</form>