<form id="#newPlanForm">
    <div class="form-group">
        {{ form.planName }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
        </div>
        {{ form.fundingAmount }}
    </div>
    <div class="form-group">
        {{ form.planJustification }}
    </div>
    <div class="form-group">
        {{ form.description.label(class_="d-none") }}
        {{ form.description }}
    </div>
    <div class="form-group">
        <div id="blog-overview-date-range" class="input-group" style="">
            {{ form.activeRange.label(class_="d-none") }}
            {{ form.activeRange }}
            <span class="input-group-append">
                <span class="input-group-text">
                    <i class="material-icons"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.sourceFund.label(class_="d-none") }}
            {{ form.sourceFund }}
        </div>
        <div class="form-group col-md-6">
            {{ form.destFund.label(class_="d-none") }}
            {{ form.destFund }}
        </div>
    </div>
    <div class="custom-control custom-toggle custom-toggle-sm mb-3">
        {{ form.fundIndivEmployeesToggle }}
        {{ form.fundIndivEmployeesToggle.label(class_="custom-control-label") }}
    </div>
    <div id="employeeIDBoundary" class="card-specific d-none">
        <div class="form-row mb-3" id="employeeIDBoundaryRow">
            <div class="form-group col-md-3">
                <label class="text-muted additional-employee-input-label">Employee <span
                        class="employeeCount">1</span></label>
                <div class="input-container">
                    {{ form.employeesOptional(id=False, required=False) }}
                    <span class="removeNewEmployeeInput material-icons">remove_circle</span>
                </div>
            </div>
        </div>
        <span id="addNewEmployeeInput" class="material-icons">add_circle</span>
    </div>
    <div class="custom-control custom-toggle custom-toggle-sm mb-3">
        {{ form.controlToggle }}
        {{ form.controlToggle.label(class_="custom-control-label") }}
    </div>
    <div id="fundControls" class="d-none">
        <small class="text-muted font-italic ml-1">Velocity Controls</small>
        <div class="card-specific">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.controlName(required=False) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.controlWindow(required=False) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.amountLimit(required=False) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.usageLimit(required=False) }}
                </div>
            </div>
        </div>
    </div>
</form>