
.additional-employee-input-label {
    font-size: 0.8rem !important;
}

.card-specific {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px
}

#employeeIDBoundary {
    position: relative;
}

#addNewEmployeeInput {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    color: green;
}

.removeNewEmployeeInput {
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    color: firebrick;
}

#employeeIDBoundary .input-container input {
    padding-right: 30px !important;
}

.pre-input-label {
    font-size: smaller !important;
    font-weight: lighter !important;
}

#destFund:first-child:disabled {
    color: #000;
    font-weight: bold;
}

.employeeIDInput {
    resize: none;
    overflow: hidden;
}

#description {
    resize: none
}

.fas.fa-spinner.fa-spin {
    position: absolute;
    right: 40px;
    bottom: 12px;
}